:root {
    --box: #f0f0f0;
    /* light gray boxes */
    --btn: #333;
    /* soft blue buttons */
    --btn-border: #2c6ebf;
    /* darker blue border */
    --btn-text: #ffffff;
    /* white button text */
    --bg-game_box: #ffffff;
    /* pure white game box */
    --bg-text: #333333;
    /* dark text */
    --bg-body: #ccc;
    /* off-white page background */
    --btn-hover: #000;
    /* darker blue on hover */
    --text-shadow: rgba(0, 0, 0, 0.1);
    /* subtle shadow */
    --theme-btn: #000;
    --theme-text: white;
}

* {
    padding: 0;
    margin: auto;
    text-align: center;
    width: 90vw;
    max-width: 300px;
    transition: all 1000ms;
}

body {
    background-color: var(--bg-body);
    color: var(--bg-text);
}

.name {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 35px;
    text-shadow: 4px 1px 5px var(--text-shadow);
}

.theme_changer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--bg-game_box);
    color: var(--bg-text);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
    width: 80%;
    height: 100%;
    max-width: fit-content;
}

.box {
    max-width: 70px;
    width: 15vw;
    max-height: 70px;
    height: 15vw;
    border: 2px solid black;
    background-color: var(--box);
    cursor: pointer;
    border-radius: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    user-select: none;
}

button {
    height: 35px;
    width: 100px;
    min-width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--btn);
    color: var(--btn-text);
    border: 2px solid var(--btn-border);
    cursor: pointer;
    font-weight: 900;
}

button:hover {
    scale: 1.2;
    transition: all 300ms ease-in-out;
    background-color: var(--btn-hover);
    /* color: var(--theme-text); */
}

button {
    background-color: var(--theme-btn);
    color: var(--theme-text);
}

.single {
    margin-bottom: 10px;
}

.win {
    background-color: lightgreen !important;
    transition: background-color 0.3s ease;
}